.containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiCardActionArea-root .MuiCardContent-root {
  padding: 0;
}

.MuiTypography-h5 {
  background-color: #00b0ff;
  position: relative;
}

.MuiTypography-body2 {
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTypography-root .MuiButton-containedSecondary {
  position: absolute;
  background-color: #33eb91;
  right: 10px;
  height: 25px;
  top: 4px;
}

.MuiTypography-root .MuiButton-containedSecondary:hover {
  background-color: #33eb91;
}
@media screen and (max-width: 640px) {
  .containerCards {
    flex-wrap: wrap;
    margin-left: 30px;
  }
  .containerCards .MuiPaper-root.MuiPaper-elevation {
    width: 77%;
    margin-top: 20px;
  }
  .containerCards .MuiButtonBase-root.MuiButton-root {
    right: 8px;
    height: 29px;
    top: 2.5px;
    width: 92px;
    font-size: 10px;
    line-height: 0.95;
  }
  .MuiPaper-root.MuiPaper-elevation1.MuiCard-root.cardsHome {
    margin-left: 75px;
    margin-right: 19px;
  }
}
