.containerInputs {
  display: flex;
  margin-top: 20px;
  margin-left: 17px;
}

.input {
  margin-right: 20px;
  height: 40px;
  padding: 8px;
}

.inputName {
  width: 350px;
  margin-left: 17px;
}
.inputDate {
  width: 270px;
}
.inputValue {
  width: 320px;
}

.textInpunts {
  margin-top: 5px;
}

.containerProducts {
  display: flex;
  justify-content: space-between;
  margin-right: 37px;
  margin-top: 30px;
}

.subTitle {
  color: #8c8c8c;
}

.subSegment {
  background-color: #cccbcb;
  height: 42px;
  margin-top: 4px;
  color: #757575;
  font-size: 23px;
  font-weight: 300;
  position: relative;
}

.containerInputs .calendarInput {
  position: relative;
}
.containerInputs .calendarInput .icon {
  position: absolute;
  top: 8px;
  right: 20px;
  color: white;
}

.iconDown {
  position: absolute;
  top: 5px;
  right: 10px;
}

.titleModal {
  padding-left: 17px;
  padding-top: 9px;
  font-size: 25px;
}

.cloudDown {
  position: absolute;
  bottom: 85px;
}

.titleModal {
  padding-left: 17px;
  padding-top: 11px;
}

.MuiButton-contained {
  margin-left: 17px;
  margin-right: 17px;
}

@media screen and (max-width: 640px) {
  .MuiPaper-root.MuiPaper-elevation1.MuiCard-root {
    width: 79%;
    height: auto;
    margin-left: 49px;
  }
  .containerInputs {
    flex-wrap: wrap;
  }
  .textInpunts {
    margin-top: 0px;
    margin-bottom: 9px;
  }
  .inputName {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .inputDate {
    margin-bottom: 10px;
  }
  .MuiButton-contained.MuiButton-containedPrimary {
    margin-top: 10px;
  }
  .containerProducts {
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-right: 49px;
  }
  .containerProducts .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    position: relative;
    width: 80%;
    height: 160px;
    margin-top: 22px;
  }
  .subSegment {
    position: relative;
    width: 100%;
  }
  .subSegment .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
    top: 7px;
    left: 227px;
  }
  .MuiFormControl-root.MuiTextField-root {
    width: auto;
  }
}
